* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    border: 0;
    padding: auto;
}

header {
    padding: 0 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 0;
    background-color: blue;
    color: white;
    border-bottom: 4px solid green;
}

a {
    text-decoration: none;
    color: black;
}

nav ul li {
    padding: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

name {
    color: purple;
}
#about {
    display: flex;
    justify-content: center;
    color: olivedrab;
}
#portfolio {
    color: palegreen;
}
#contact {
    color: orange;
}
#hero{
    background-image: url("./mountain.jpg");
    background-position: center;
    display: flex;
    justify-content: center;

}
#hero .content {
    background-color: rgba(128, 128, 128, 0.233);
    text-align: center;
    border-radius: 0;
    padding: 15px;
    max-width: auto;
}
#about .newContent {
    display: flex;
    flex-direction: flex;
    align-items: center;
    flex: 1 1 0;
    gap: 0;
}